.indexWrap {
  background-color: #f6f6f6;
  min-height: 100vh;
  padding: 32px;
  box-sizing: border-box;

}

.atInput{
  margin-top: -32px;
  margin-left: -32px;
  margin-right: -32px;
  margin-bottom: 32px;
}

